body {
    margin: 0;
    background-color: lightgrey;
}

#mainWrapper {
    display: flex;
    background-color: rgb(75, 92, 107);
    min-height: 700px;
}

#header {
    background-color: rgb(32, 120, 104);
    color: white;
    text-align: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.37);
    z-index: 10;
    position: relative;
}

h1 {
    font-size: 1.5rem;
    padding: 10px;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
}

h2 {
    font-size: 2rem;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 30px 100% 0 30px;
    
}
h6 {
    color: black;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 30px 100% 0 30px;
  }

#nav {
    display: flex;
    background-color: rgb(26, 174, 159);
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 40px;
}

ul {
    text-align: center;
    padding: 0;
}

li {
    list-style-type: none;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}

#mainNotes {
    width: 100%;
}


form {
    padding: 80px;
    margin: 40px;
}

input {
    border: 2px solid grey;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}

textarea {
    resize: none;
    border: 2px solid grey;
    border-radius: 8px;
    width: 100%;
    height: 20rem;
    box-sizing: border-box;
    padding: 12px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

label {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

button {
    background-color: rgb(32, 120, 104);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    float: none;
    color: white;
    margin-top: 10px;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

button:hover {
   background-color: rgb(22, 92, 79)
}



.noteDivWrapper {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 50px 450px;
    width: 100%;
    height: 500px;
    background-color:beige;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.301);
    overflow: scroll;
}

.divForWrapperAndButton{
    width: 35%;
    margin: 4%;
}

.noteDivWrapper h4 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    font-size: 1.8em;
    margin: 4% 0 0 0;
    text-decoration: underline;
    text-align: center;
}
.noteDivWrapper h6 {
    grid-column:3 / 2;
    grid-row: auto;
    text-align: center;
    margin-bottom:6px ;
  }

.noteDivWrapper span {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.2em;
    overflow-wrap: break-word;
    margin: 0 10% 5% 0;

}

.circleDivContainer {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 50px 0 0 10px;
}

.circleDiv {
    background-color: rgb(75, 92, 107);
    border-radius: 5px;
    height: 10px;
    width: 10px;
    margin: 20px 0 0 0;
}

#buttonCreateNotebook {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    font-size: 2rem;
    background-color: rgb(26, 174, 159);
    margin: auto;
}


#divNotebook {
    display: grid;
    grid-template-columns: 49% 0.5% 49%;
    grid-template-rows: repeat(4, 25%);
    grid-gap: 5px;

}

#section1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

#separator {
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: rgba(187, 187, 187, 0.445);
    border-radius: 5px;
    height: 600px;

}

#section2 {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
    justify-self: center;

}
/*styling for notebook element that are created*/
#notebookElement{
    width: 60%;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(65, 63, 63);
}

.modalContent {
    background-color: rgb(194, 226, 224);
    margin: auto;
    padding: 10px;
    width: 30%;
    border: 3px solid rgb(26, 174, 159);
    border-radius: 5px;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /*Location of the box*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;/* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#inputNotebookName {
    border: none;
    padding: 20px;
    width: 100%;
}

#submitBtnNotebook {
    border: none;
    padding: 20px;
    width: 50%;
    margin: auto;
}






































